*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Helvetica", sans-serif;
  display: grid;
  place-items: center;
  min-height: 100vh;
}

.container {
  max-width: 700px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

h1 {
  margin-bottom: 5rem;
}

p {
  font-size: 1rem;
  line-height: 1.5rem;
  color: gray;
  display: flex;
  align-items: center;
}

.tooltip__container {
  margin: 50px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
