*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Helvetica", sans-serif;
  display: grid;
  place-items: center;
  min-height: 100vh;
}

.container {
  max-width: 700px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

h1 {
  margin-bottom: 5rem;
}

p {
  font-size: 1rem;
  line-height: 1.5rem;
  color: gray;
  display: flex;
  align-items: center;
}

.tooltip__container {
  margin: 50px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tooltip {
  display: inline-flex;
  position: relative;
  padding: 15px;
  color: gray;
}

.tooltip__message {
  position: absolute;
  z-index: 1;
  background: white;
  border: 1px solid black;
  font-size: 0.8rem;
  line-height: 1rem;
  padding: 15px 10px;
  width: max-content;
  max-width: 200px;
  display: none;
}

.tooltip:hover .tooltip__message,
.tooltip:focus .tooltip__message {
  display: block;
}

.tooltip__message::after {
  content: "";
  position: absolute;
  z-index: 2000;
  background: black;
  width: 15px;
  height: 15px;
}

.tooltip--top {
  top: -40px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tooltip--top::after {
  clip-path: polygon(50% 100%, 0 0, 100% 0);
  transform: translateX(-50%);
  left: 50%;
  bottom: -15px;
}

.tooltip--bottom {
  bottom: -80px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tooltip--bottom::after {
  clip-path: polygon(100% 100%, 0 100%, 50% 0);
  transform: translateX(-50%);
  left: 50%;
  top: -15px;
}

.tooltip--left {
  left: -200px;
  top: 50%;
  transform: translateY(-50%);
}

.tooltip--left::after {
  clip-path: polygon(0 100%, 100% 50%, 0 0);
  transform: translateY(-50%);
  right: -15px;
  top: 50%;
}

.tooltip--right {
  right: -200px;
  top: 50%;
  transform: translateY(-50%);
}

.tooltip--right::after {
  clip-path: polygon(100% 100%, 0 50%, 100% 0);
  transform: translateY(-50%);
  left: -15px;
  top: 50%;
}

@media screen and (max-width: 520px) {
  .tooltip__message {
    position: fixed;
    width: 90%;
    height: 30%;
    transform: translate(-50%, -50%) !important;
    left: 50% !important;
    top: 50% !important;
    display: none;
  }

  .tooltip__message:after {
    display: none;
  }

  .tooltip:hover::before,
  .tooltip:focus::after {
    content: "";
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
  }
}
